body{
    margin: 0;
    padding: 0;
}
.container{
    height: 500px;
    width: 30%;
    border: 2px solid grey;
    margin: 30px auto;
}
.product_img{
    height: 300px;
    width: 300px;
    margin: 20px 100px;
}